@media screen and (max-width: 1168px) {
    aside {
        position: relative;
        display: flex;
        top: 30px;
        left: 33px;
        .aside__content {
            
            margin-right: 20px;

        }
    }
}

@media screen and (max-width: 1024px) {
    .header {
        &__search {
            width: auto;
        }
    }
    .main {
        &__serv {
            margin-right: 0;
        }
        &__wrapper {
            margin-right: 0;
            flex-direction: column;
            
        }
        &__info {
            max-width: 100%;
            margin-top: 20px;
            .crop-text {
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow-y: hidden;
            }
            .info__link {
                display: block;
            }
            input[type=checkbox] {
                display: none;
            }
            .logo {
                width: 120px;
                float: left;
            }
        }
    }
    .aside {
        &__content {
            height: auto;
        }
    }
    
}
@media screen and (max-width: 768px) {
    main {
        padding-bottom: 24px;
    }
    .main__photo {
        display: none;
    }
    .slider {
        display: block;
    }
    .modal {
        width: auto;
    }
    .info__link__map_768 {
        display: block;
    }
    .info__link__map {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    .main {
        &__serv {
            height: 40px;
            &__btn {
                top: 25px;
                left: 0;
            }
        }
        &__table {
            
            &__item {
                &:first-child {
                    display: none;
                }
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 7px;
                }
            }
        
    }
    .modal {
        &__btn__wrapper {
        flex-wrap: wrap;
        justify-content: center;
        }
        &__close {
            margin-top: 7px;
        }
    }
}