@media screen and (max-width: 1168px) {
    aside {
        position: relative;
        display: flex;
        top: 30px;
        left: 33px;
        .aside__content {
            
            margin-right: 20px;

        }
    }
}

@media screen and (max-width: 1024px) {
    .header {
        &__search {
            width: auto;
        }
    }
    .main {
        &__serv {
            margin-right: 0;
        }
        &__wrapper {
            margin-right: 0;
            flex-direction: column;
            
        }
        &__info {
            max-width: 100%;
            margin-top: 20px;
            .logo {
                width: 120px;
                float: left;
            }
        }
    }
    .aside {
        &__content {
            height: auto;
        }
    }
}
@media screen and (max-width: 768px) {

}

@media screen and (max-width: 575px) {
    .main {
        &__serv {
            height: 40px;
            &__btn {
                top: 25px;
                left: 0;
            }
        }
    }
}