* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', 'Arial', sans-serif;
}

.container {
    padding: 0 33px;
}
.divider {
    border: 1px solid #E0E0E0;
    height: 1px;
    width: 100%;
    margin: 8px 0 16px 0;
}

@import "_header";
@import "_aside";
@import "_main";
@import "_slider";

@import "_media";